.mb-16 {
  margin-bottom: 16px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.mr-16 {
  margin-right: 16px !important;
}

.mr-8 {
  margin-right: 8px !important;
}